h1,
h2 {
  text-align: center;
}
.timer {
  width: 100%;
  text-align: center;
}

span {
  font-size: 1.5em;
}

.btn-container {
  padding: 20px;
}

.btn {
  width: 100px;
  height: 35px;
  margin: 0 20px;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  color: white;
}

.btn:hover {
  box-shadow: 0 0 0px 3px black;
  transition-duration: 500ms;
}

.btn:focus {
  outline: none;
}
